@charset "utf-8";
/* CSS Document */


body {	
}


h1 {color: #C06000}

#logo {width: 120px;
	   height: 120px;
	   margin-left: 0px;
	   margin-right: 0px;
	   float: left;}

#text {margin-top: -10px;
	   width: 1030px;
	   margin-left: 750px;}

.pages {width: 400px;
		height: 270px;
		border-radius: 10px;}

.gridimg {width: 200px;
		height: 310px;}

a {
	color: #028702;
	
}


#title {
		text-align: center;
		height: 120px;
		font-size: 45px;
		font-style: italic;
		float: left;
		width: 2530px;}



a:hover {
	
	color: #01AA01;
  cursor: pointer;
	
	
	
}









