@charset "utf-8";
/* CSS Document */




body {
  margin:100px;
align-items: center;
justify-content: center;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  background-color:#ffffff;
  padding:0;
}




.profilepicture {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 20px 2px grey;
}


.icons {
  display: flex;
  justify-content: space-between;
}


/* Disables the selection */
.disableselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
  user-select: none;          /* Non-prefixed version, currently 
                                  not supported by any browser */
}
  
/* Disables the drag event 
(mostly used for images) */
.disabledrag{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}




.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #989898;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #F5F5F5;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
	



img{border-radius: 5px;}


.main {
  margin: auto;
    text-align: justify;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}


.row,
.row > .column {
  padding: 9px;
}


.column {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  background-color: white;
  padding: 10px;
  height: 90%;
  border-radius: 7px;
}

#reviewlink{color: #7AC56D;}


#reviewlink:hover{color: #A8171A;
				  font-size: 20px;}



@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}





input[type=text], select, textarea {
  width: 100%;
  padding: 12px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
